<!DOCTYPE html>
<html>
	<head>
  <meta charset="UTF-8">
  <meta name="EDUBOOK" content="SCHOOL PARENT TEACHER INTERACTION PLATFORM">
  <meta name="keywords" content="HTML, CSS, JavaScript">
  <meta name="TEAM ALA" content="TEAM ALA">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<style>
			body{
				background: #D3959B;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #BFE6BA, #D3959B);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #BFE6BA, #D3959B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

				text-align:center;
				padding-top:60px;
				padding-left:20px;
				padding-right:20px;
				padding-bottom:30px;
							
			}
			
		      .sign
	{  
		background:red;
		border-radius: .25rem;
		 padding: .155rem .35rem;
		font-size: 1rem;
       line-height: 1.5;
		display: inline-block;
        font-weight: 400;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
		border: 1px solid transparent;
		margin-bottom:40px;
		float:right;
		}
			.back
	{
		color:#fff;
		background-color:#28a745;
		border-color:#28a745;
		display: inline-block;
        font-weight: 400;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
		border: 1px solid transparent;
        padding: .155rem .35rem;
       font-size: 1rem;
       line-height: 1.5;
       border-radius: .25rem;
        transition: color .15s;
		float:left;
	}
			a{
				text-decoration:none;
				
			}
			a:hover{
				text-decoration:underline green;
			}
			h2{
				margin-top:100px;
				margin-bottom:40px;
				text-shadow:1px 1px 3px green;
			}
			h3,h4,p {
				margin-left:10px;
			}
			.content{
				border:1px solid black;
				text-align:left;
				
			}
			p{
				background-color:coral;
				margin-right:5px;
				padding:4px;
			}
			
		</style>
	</head>
	<body>
		
		<form action="/log-out" method="POST">
          <button class="sign">Sign Out</button>
        </form>
		<button class='back'>
			<a href='/adminpage'>BACK</a>
		</button>
		<div>
	<h2 style="text-align:center;">
		<%=notice.title%>
	</h2>
	<div class='text'>
		
			
	<div class='content'>
			
	<h3>
		Class:<%=notice.class%>
	</h3>
	<h3>
		From:<%=notice.from%>
	</h3>
	
	<h4>
		Date:<%=notice.created.toDateString()%>
	</h4>
	
		<h4>
		Content:
	</h4>
	<p>
		<%=notice.body%>
    </p>
		</div>
	</div>
</div>
	</body>
</html>

