<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
        <meta name="EDUBOOK" content="SCHOOL PARENT TEACHER INTERACTION PLATFORM">
        <meta name="keywords" content="HTML, CSS, JavaScript">
        <meta name="TEAM ALA" content="TEAM ALA">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<style>
		body
			{     background: #6441A5;  /* fallback for old browsers */
                  background: -webkit-linear-gradient(to right, #2a0845, #6441A5);  /* Chrome 10-25, Safari 5.1-6 */
                  background: linear-gradient(to right, #2a0845, #6441A5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

				text-align:center;
				padding-top:80px;
				padding-left:60px;
				padding-right:60px;
				padding-bottom:50px;
			}
			.sign
	{  
		background:red;
		border-radius: .25rem;
		 padding: .375rem .75rem;
		font-size: 1rem;
       line-height: 1.5;
		display: inline-block;
        font-weight: 400;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
		border: 1px solid transparent;
		float:right;
	}
	.back
	{
		color:#fff;
		background-color:#28a745;
		border-color:#28a745;
		display: inline-block;
        font-weight: 400;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
		border: 1px solid transparent;
        padding: .375rem .75rem;
       font-size: 1rem;
       line-height: 1.5;
       border-radius: .25rem;
        transition: color .15s;
		float:left;
	}
			a{
   background-color: none;
   text-decoration:none;
  } 
			a:hover{text-decoration:underline}
			h1{ margin-top:80px;
				color:yellowgreen;
			}
			input[type=submit] {
              
               background-color: #4CAF50;
               color: white;
               padding: 14px 10px;
               margin: 8px 2px;
               border: none;
               border-radius: 4px;
               cursor: pointer;
				
            }
		</style>
	</head>
	<body>
		<button class='back'>
			<a style="color:#fff;" href="/Tsa2/<%=student_id%>">BACK</a>
		</button>
		
		<form action="/loggout" method="POST">
          <button class="sign">Sign Out</button>
        </form>
		<br>
<h1>
	ENTER THE CHANGED MARKS OF 
	<%=teacher.subject.toUpperCase()%> IN SA2
</h1>

<div>
	<form action="/Teditsa2/<%=student_id%>/<%=ut._id%>?_method=PUT" method="POST">
		<div>
			
			<h2><%=teacher.subject.toUpperCase()%>:</h2><input type="number" name="u_t_1[<%=teacher.subject%>]" placeholder='ENTER MARKS'>
		   
        </div>
		<br>
	    
		<input type="submit">
															   
	</form>
</div>
	</body>
</html>

