<h2>
	CHOOSE THE TEST 
</h2>
<div>
	<a href="/Tut1/<%=student._id%>">UNIT TEST 1</a>
</div>
<br>
<div>
	<a href="/Tut2/<%=student._id%>">UNIT TEST 2</a>
</div>
<br>
<div>
	<a href="/Tut3/<%=student._id%>">UNIT TEST 3</a>
</div>
<br>
<div>
	<a href="/Tut4/<%=student._id%>">UNIT TEST 4</a>
</div>
<br>
<div>
	<a href="/Tsa1/<%=student._id%>">SUMMATIVE ASSESMENT 1</a>
</div>
<br>
<div>
	<a href="/Tsa2/<%=student._id%>">SUMMATIVE ASSESMENT 2</a>
</div>

<form action="/loggout" method="POST" class="d-inline">
          <button class="btn btn-sm btn-secondary">Sign Out</button>
</form>